<div class="film-card">
    <img src="{{film().image}}" alt="{{film().title}}" />
    <div class="film-card-content">
        <h2>{{film().title}}</h2>
        <!-- <p>{{film().description}}</p> -->
        <p>{{filmDescription}}</p>
        <a href="{{film().url}}" target="_blank">Más info</a>
    </div>
</div>

<!-- <div class="film-card">
        <img src="{{film.image}}" alt="{{film.title}}" />
        <div class="film-card-content">
            <h2>{{film.title}}</h2>
            <p>{{film.description}}</p>
            <a href="{{film.url}}" target="_blank">Más info</a>
        </div>
    </div> -->